h2 {
    margin-left: 20px;
    text-decoration: underline;
    font-family: "Times New Roman";
    font-size: 26px;
}
p {
    font-family: "Merriweather";
    font-size: 18px; 
    margin-left: 30px;
}

.active {
    background-color: #008080;
}

ul {
    background-color: black;
    list-style-type: none;
    margin: 0;
    opacity: 30;
    overflow: hidden;
    padding: 0;
}

li {
    float: left;
    width: 50%;
}

li a {
    color: white;
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: #c0c0c0;
    color: black;
    text-decoration: underline;
}